# Copy this file to .env for local development and fill in the values locally.
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_KEY=
VB_AGENT_ID=
VB_AGENT_ID_IND=
VOCAL_BRIDGE_API_KEY=
